.MuiInput-root {
    color: #fff !important;
    font-family: Montserrat !important;
    font-size: 16px !important;
    font-weight: 500 !important;
    margin: 4px 10px;
}

.MuiSelect-icon {
    color: #0080da !important;
}

.MuiMenu-list {
    background-color: #00264c;
    color: #fff;
}

.MuiMenu-paper {
    /* top: 54px !important; */
}

.state-assocation-dropdown::before {
    border-bottom: 1px solid  #0e75d2 !important;
}

.state-assocation-dropdown::after {
    border-bottom: 1px solid  #0e75d2 !important;
}
