* {
  box-sizing: border-box;
}

.App {
  background-color: #04111c;
}

.events-header {
  display: flex;
  flex-direction: column;
  margin-top: 4%;
}

.events-header-title{
  text-align: center;
  font-size: 40px;
  font-family: Montserrat;
  font-weight: 500;
  color: #fff;
  margin: 0;
}

.events-header-filter {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.desktop-filters {
  display: none;
}

.mobile-filters-button {
  font-family: Montserrat;
  color: #fff;
  background: #00529b;
  padding: 10px 15px 10px 15px;
  border-radius: 3px;
  height: 40px;
  right: 0;
  bottom: 28px;
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 400;
}

@media (min-width: 545px ) {
    .desktop-filters {
      margin-top: 20px;
      display: flex;
      justify-content: center;
  }

  .mobile-filters-button {
    display: none;
  }
}
