* {
  box-sizing: border-box;
}

.App {
  background-color: #04111c;
}

/* .content-wrapper {
  background-color: #04111c;
} */

.events-header {
  display: flex;
  flex-direction: column;
  margin-top: 4%;
}

.events-header-title{
  text-align: center;
  font-size: 40px;
  font-family: Montserrat;
  font-weight: 500;
  color: #fff;
  margin: 0;
}

.events-header-filter {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
